@import "compass/css3";

.wrapper {
  display: flex;
  flex-flow: row wrap;
}

.navigation {
  list-style: none;
  margin: 0; 
  background: deepskyblue;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;  
 }
.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  font-size:22px;
  text-align: center; 
  
}

/* cette propriété sert pour gérer automatiquement l'espace entre les éléments du header*/
@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}
 
}


h1{ 
  font-family: ThreeDLightShadow;        
  color:#7700FF;              
  font-size: 28px;             
  text-align: left; 
  position: relative; 
  left:30px;
  top:10px;  
}




.sommaire{
    width:25%;
	min-width: 240px;
     position: relative; 
	 left:15px;
	 top:40px;
	 border-style: double;
     border-width: 4px;
border-color: black;              
  font-size: 16px; 
      background:rgba(255,200,255,0.2);
	  line-height:27px;
	  
}








/*








.sommairetitre{
	font-family: ThreeDLightShadow;
	 font-size: 30px; 
	 color:#7700FF;
	 text-align: center; 
}


.decale{
	position: relative; 
	 left:40px;
	 top:30px;
}
h2{ 
  font-family: ThreeDLightShadow;        
  color:#520052;              
  font-size: 24px;             
  text-align: left; 
 position: relative; 
	 left:25px;
	 top:10px; 
border-bottom:1px solid black;	 
}






.section{
	position: relative; 
	 left:40px;
	 top:40px;
}






#eg5{
	  padding: 5px;
	text-align: center;
}

#eg2{
	  padding: 5px;
	text-align: center;
}

#eg3{
	  padding: 5px;
	text-align: center;
}
#eg4{
	  padding: 5px;
	text-align: center;
}
#eg7{
	  padding: 5px;
	text-align: center;
}


.exampless{
	line-height:25px;
	position:relative;
	left : 250px;
	}



.itm{
	margin:8px;
	}

	
.itmc{
	margin:5px;
	position:relative;
	left : 250px;
	}
	
.aside{
	margin:25px;
	padding:10;
border-style:outset;	
}*/
